* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  position: relative;
  width: 100%;
  height: 264px;
  background: #0cb093;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.forms-container--partials {
  margin-top: 64px;
}

.formLogin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 10px;
  width: 320px;
  height: 296px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  bottom: 218px;
}

.formRegister {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  column-gap: 10px;
  width: 320px;
  height: 344px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  bottom: 214px;
}

.heading {
  width: 264px;
  height: 48px;
  left: 79px;
  top: 170px;
  margin-bottom: 10px;
}

.heading h2 {
  position: relative;
  left: 32px;
  top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
}

input {
  box-sizing: border-box;
  width: 256px;
  height: 32px;
  left: 512px;
  top: 232px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  align-self: center;
  bottom: 10px;
}

::placeholder {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  left: 15px;
}

.formLogin button,
.formRegister button {
  display: flex;
  border: none;
  width: 256px;
  height: 32px;
  justify-content: center;
  background: #494f51;
  border-radius: 16px;
  color: white;
  align-self: center;
  margin-bottom: 18px;
  font-family: "Open Sans";
  letter-spacing: 0.5px;
}

.formLogin button:active,
.formRegister button:active {
  background: var(--verde);
  transition-duration: 0.3s;
}

.formLogin button a,
.formRegister button a {
  height: 16px;
  left: 16px;
  right: 16px;
  font-weight: 300;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  align-self: center;
  justify-self: center;
  color: #ffffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.aviso span {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 196px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

a {
  color: #000000;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 9.5px;
  margin-bottom: -7px;
}

.pagina {
  height: 30vh;
}

@media screen and (min-width: 769px) {
  .pagina {
    height: 40vh;
  }
}
