@import "./partials/product.css";
@import url("./partials/navbar.css");
@import url("./partials/footer.css");
@import url("./partials/sidebar.css");
@import "./partials/forms.css";
@import "./partials/category.css";
@import "./partials/error.css";
@import url("partials/productCard.css");
@import url("pages/cart.css");
@import url("partials/productInCart.css");
@import url("./partials/productDescuento.css");
@import url("pages/home.css");
@import url("pages/searchResults.css");
@import url("./partials/modal.css");

:root {
  --blanco: rgba(255, 255, 255, 1);
  --gris-claro: rgba(153, 153, 153, 1);
  --gris-body: rgb(239, 239, 239);
  --gris-oscuro: rgba(73, 79, 81, 1);
  --verde: rgba(12, 176, 147, 1);
  --verde-oscuro: #056252;
  --negro: rgba(0, 0, 0, 1);
  --rojo: rgba(255, 0, 0, 1);
  --rojo-transparente: rgb(255 0 0 / 71%);
  --dark-mode-body: rgba(34, 34, 34);
  --dark-mode-cards: rgba(51, 51, 51);
  --header1: 40px;
  --header2: 32px;
  --header3: 24px;
  --f-family: "Open Sans";
  --f-style: normal;
  --f-weight: normal;
}

* {
  font-family: var(--f-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gris-body);
}

main {
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
  margin-top: 80px;
}

.dark-mode--body {
  background-color: var(--dark-mode-body);
  color: white;
}
