<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title:"Index"})%>
  <body>
<div class="error-page--container">
    <%-include('../partials/navbar') %> 

    <main class="main--partials">
        <div class="main--partials-container">

            <section class="section-error">
                <h1>Muchas gracias por confiar en nosotros y felicidades por tu compra!</h1>
            </section>
        </div>
    </main>
</div>
<%-include("../partials/footer.ejs")%>
</body>
</html>