<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title:"Register"}) %>

  <body>
    <!-- Header -->
    <div class="forms-container">
    <div class="forms-container--partials">
      <%- include('../partials/navbar.ejs') %> <%-
      include('../partials/register.ejs') %> 
    </div>
    <%- include('../partials/footer.ejs') %>
    </div>

    <!-- Footer -->
  </body>
</html>
