<div id="partialModal" class="container-wrapper-modal">
  <div class="container-modal">
    <h2>OH NO !!</h2>
    <p>
      Hay un problema con tu Login !! <br />
      Revisa la información ingresada.
    </p>
    <button class="section-product-modal__button">VOLVER</button>
  </div>
</div>
