<div class="background"></div>
<div class="pagina">
<div class="container">
  <form class="formLogin" id="loginForm">
    <div class="heading">
      <h2>¡Hola!</h2>
    </div>

    <div class="inputs">
      <label for="username"></label>
      <input type="text" placeholder="Tu nombre de usuario" id="usernameLogin" name="email" />

      <label for="password"></label>
      <input type="password" placeholder="Tu contraseña" id="passwordLogin" name="password" />
    </div>

    <button type="submit" id="loginBtn" class="formRegister--submit-button-inactive" disabled>Iniciar Sesión</button>
  </form>
</div>
<div class="aviso">
  <span>¿No tienes cuenta?&nbsp;<a href="/register">Regístrate</a></span>
</div>
</div>