<div id="partialModal" class="container-wrapper-modal">
  <div class="container-modal">
    <p class="message-title">Ups! Error al iniciar sesión</h2>
    <p class="message-message">
      Parece que hay un problema con <span class="message-bolder">los datos</span> que nos enviaste<br />
      Revisa la información ingresada y vuelve a intentarlo.
    </p>
    <button class="section-product-modal__button">Volver al Login</button>
    <button class="section-product-registerModal__button">
      No estoy registrado
    </button>
  </div>
</div>
