<%-include("../partials/sidebar.ejs")%> <% if(noSearchBox) {%>
<header>
  <nav>
    <a href="/"><img src="/img/MiEcommerce.svg" alt="logo" /></a>
  </nav>
</header>
<% } else { %>
<header>
  <nav>
    <a href="/"
      ><img class="logo-mobile" src="/img/MiE.svg" alt="logo" />
      <img class="logo-desktop" src="/img/MiEcommerce.svg" alt="logo"
    /></a>
    <form
      action="http://localhost:3000/products/search"
      method="get"
      class="search-form"
    >
      <input
        name="search"
        class="search-input"
        type="text"
        placeholder="Buscar productos..."
      />
      <button type="submit" class="search-form--search-icon">
        <img src="/img/magnify.svg" alt="" />
      </button>
    </form>
    <a href="/cart" id="cart-button-navbar"><img src="/img/Cart.svg" alt="Cart Button" /></a>
    <div class="profile-btn--container">
      <img
        src="/img/ProfileBtn.svg"
        class="logo-mobile profileBtn"
        alt="Profile Button"
      />
      <div class="navbar-user-logo logo-desktop profileBtn">
        <img
        src="/img/ProfileBtn.svg"
        alt="Profile Button"
        />
        <span id="user-name-navbar"></span>
      </div>
      <div class="navbar-drop-down" id="dropDown">
        <div class="profile-card">
          <img src="/img/ProfileBtn.svg" alt="profile-pic" />
          <p id="user-name-drop-down"></p>
        </div>
        <hr />
        <ul id="dropDownList">
          <li><a href="/">Inicio</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registro</a></li>
          <li><a href="/historial">Historial</a></li>
        </ul>
        <hr />
        <div class="navbar-theme--button">
          <button><i class="fa-solid fa-gear"></i>Cambiar a Tema Oscuro</button>
        </div>
      </div>
    </div>
    <div class="navbar-div-log-reg">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </nav>
</header>
<% } %>
