<div class="prod--containerWrapper">
  <div class="prod--img--container">
    <div class="prod--img">
      <img src="/img/disneybrand.png" alt="" />
    </div>
    <div class="prod--text"><p>50% OFF en Combo Plus</p></div>
  </div>
</div>
