<div class="main--partials-container--productos-en-descuento">
  <div class="main--partials-container--productos-en-descuento--bg"></div>
  <div class="main--partials-container--productos-en-descuento--cards">
    <div class="prod--containerWrapper">
      <div class="prod--img--container">
        <div class="prod--img">
          <img src="/img/disneybrand.png" alt="" />
        </div>
        <div class="prod--text">
          <h5>50% OFF en Combo Plus</h5>
          <p>Canjeando 50.000 puntos MiEcommerce.</p>
        </div>
      </div>
    </div>
    <div
      class="prod--containerWrapper"
      style="
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          url(/img/ProductHero.svg);
      "
    >
      <div class="prod--img--container">
        <div class="prod--img">
          <img src="/img/disneybrand.png" alt="" />
        </div>
        <div class="prod--text">
          <h5>50% OFF en Combo Plus</h5>
          <p>Canjeando 50.000 puntos MiEcommerce.</p>
        </div>
      </div>
    </div>
  </div>
</div>
