<a class="product-link" href="/product/<%= product.id %>">
  <div class="product-list--cards--card">
    <div class="product-list--card--image-container">
      <img
        src="<%=(product.images.length > 0)? product.images[product.images.length-1]: `https://raw.githubusercontent.com/koehlersimon/fallback/master/Resources/Public/Images/placeholder.jpg`%>"
        alt=""
        class="product-list--card--image-container--image"
      />
    </div>
    <div class="product-list--card--text">
      <div class="product-list--card--text--title">
        <h3><%= product.title %></h3>
      </div>
      <div class="product-list--card--text--price">
        <h3><%= product.price %></h3>
        <p class="product-list--card--text--price--p">PUNTOS</p>
      </div>
    </div>
  </div>
</a>
