<div class="product-list">
    <div class="product-list--h">
        <h3>Te puede interesar</h3>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/Rectangle 2.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--h">
        <h3>Los más pedidos</h3>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/whisky.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="/img/Rectangle1.svg" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h3>Coca Cola Lata 220mL Pack Original</h3>
                <h3>x8 Unidades</h3>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
</div>