<div class="product-list">
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29jYSUyMGNvbGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h4>Coca Cola Lata 220mL Pack Original</h4>
                <h4>x8 Unidades</h4>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29jYSUyMGNvbGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h4>Coca Cola Lata 220mL Pack Original</h4>
                <h4>x8 Unidades</h4>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
    <div class="product-list--card">
        <div class="product-list--card--image-container">
            <img src="https://images.unsplash.com/photo-1567103472667-6898f3a79cf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29jYSUyMGNvbGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="" class="product-list--card--image-container--image">
        </div>
        <div class="product-list--card--text">
            <div class="product-list--card--text--title">
                <h4>Coca Cola Lata 220mL Pack Original</h4>
                <h4>x8 Unidades</h4>
            </div>
            <div class="product-list--card--text--price">
                <h3>760</h3>
                <p class="product-list--card--text--price--p">PUNTOS</p>
            </div>
        </div>
    </div>
</div>