<div class="background"></div>
<div class="pagina">
  <div class="container">
    <form class="formRegister" id="registerForm">
      <div class="heading">
        <h2>¡Registrate!</h2>
      </div>
      
      <div class="inputs">
        <div class="formRegister--name-container">
          <label for="name"></label>
          <input type="text" placeholder="Tu nombre" id="name" />
        <i class="fa-solid fa-circle-question password-error-alert"></i>
        </div>
        <div class="formRegister--lastname-container">
          <label for="lastname"></label>
          <input type="text" placeholder="Tu apellido" id="lastname" />
        <i class="fa-solid fa-circle-question password-error-alert"></i>
        </div>
        <div class="formRegister--password-username">
          <label for="username"></label>
          <input type="text" placeholder="Tu email" id="username" />
        <i class="fa-solid fa-circle-question password-error-alert"></i>
        </div>
        <div class="formRegister--password-container">
          <label for="password"></label>
        <input
          type="password"
          placeholder="Tu nueva contraseña"
          id="password"
        />
        <i class="fa-solid fa-circle-question password-error-alert"></i>
        </div>
        <div class="formRegister--repeatedPassword-container">
          <label for="password"></label>
          <input
            type="password"
            placeholder="Repite tu contraseña"
            id="passwordRepeated"
          />
        <i class="fa-solid fa-circle-question password-error-alert"></i>
        </div>
      </div>
      <button type="submit" class="formRegister--submit-button-inactive" id="registerFormButton" disabled>Crear Cuenta</button>
    </form>
  </div>

  <div class="aviso">
    <span>¿Ya tienes cuenta?&nbsp;<a href="/login">Inicia Sesión</a></span>
  </div>
</div>
