<div class="background"></div>
<div class="pagina">
  <div class="container">
    <form class="formRegister" id="registerForm">
      <div class="heading">
        <h2>¡Registrate!</h2>
      </div>
      
      <div class="inputs">
        <label for="name"></label>
        <input type="text" placeholder="Tu nombre" id="name" name="firstname"/>
        <label for="lastname"></label>
        <input type="text" placeholder="Tu apellido" id="lastname" name="lastname"/>
        <label for="username"></label>
        <input type="text" placeholder="Tu email" id="username" name="email"/>

        <label for="password"></label>
        <input
          type="password"
          placeholder="Tu nueva contraseña"
          id="password"
          name="password"
        />

        <label for="password"></label>
        <input
          type="password"
          placeholder="Repite tu contraseña"
          id="passwordRepeated"
        />
      </div>
      <button type="submit" class="formRegister--submit-button-inactive" id="registerFormButton" disabled>Crear Cuenta</button>
    </form>
  </div>

  <div class="aviso">
    <span>¿Ya tienes cuenta?&nbsp;<a href="/login">Inicia Sesión</a></span>
  </div>
</div>
