<div class="background"></div>
<div class="container">
  <form class="formRegister">
    <div class="heading">
      <h2>¡Registrate!</h2>
    </div>

    <div class="inputs">
      <label for="username"></label>
      <input type="text" placeholder="Tu email" id="username" />

      <label for="password"></label>
      <input type="password" placeholder="Tu nueva contraseña" id="password" />

      <label for="password"></label>
      <input
        type="password"
        placeholder="Repite tu contraseña"
        id="passwordNew"
      />
    </div>

    <button><p>Crear Cuenta</p></button>
  </form>
</div>

<div class="aviso">
  <span>¿Ya tienes cuenta?&nbsp;<a href="/login">Inicia Sesión</a></span>
</div>
