<div class="dark-bg" id="darkBg"></div>
<div class="side-bar" id="sideBar">
  <div class="profile-card">
    <img src="/img/ProfileBtn.svg" alt="profile-pic" />
    <p id="user-name-drop-down-mobile"></p>
  </div>
  <hr />
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/register">Registro</a></li>
    <li><a href="/historial">Historial</a></li>
    <li><a id="logout" href="">Logout</a></li>
  </ul>
  <hr />
  <button class="dark-mode-btn">Cambiar a Tema Oscuro</button>
</div>
