.section-category {
  background-color: #333333;
  border-radius: 8px;
  min-height: 283px;
  padding: 16px 24px;
}

.section-category__list {
  list-style: none;
  margin: 0 auto;
  height: 100%;
}

.section_category__list-item:not(:first-child) {
  margin-top: 8px;
}
.section_category__list-item a {
  font-size: 16px;
  color: var(--blanco);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  min-height: 24px;
}

.section_category__list-item svg {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

@media (min-width: 769px) {
  .section-category {
    /* width: 80%;
        margin:60px auto 33px; */
    padding: 32px 8px;
    max-height: 128px;
    min-height: 120px;
    min-width: 720px;
  }

  .section-category__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  .section_category__list-item {
    width: 11%;
    position: relative;
  }
  .section_category__list-item:not(:first-child) {
    margin-top: 0px;
  }
  .section_category__list-item:not(:last-child)::after {
    content: "";
    height: 96px;
    width: 2px;
    background-color: var(--blanco);
    position: absolute;
    right: -7px;
    top: -25%;
  }
  .section_category__list-item:nth-child(3)::after {
    right: 0px;
  }
  .section_category__list-item:nth-child(4)::after {
    right: -12px;
  }

  .section_category__list-item a {
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    gap: 0px;
  }

  .section_category__list-item svg {
    width: 40px;
    height: 40px;
  }
}
