nav {
  background-color: none;
  backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 64px;
  padding: 16px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #494f51;
  position: fixed;
  z-index: 999;
  top: 0;
}

.search-input {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  width: 100%;
  height: 32px;
  padding-left: 15px;
}

.search-form {
  height: 32px;
  width: 90%;
  position: relative;
  align-self: stretch;
}

.search-form--search-icon {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 4px;
  width: 24px;
}

.profile-link img {
  margin-top: 3px;
}

.logo-desktop {
  display: none;
}

.navbar-drop-down {
  width: 210px;
  background: white;
  position: absolute;
  right: 0;
  display: none;
  z-index: 1000;
  border-radius: 16px;
  animation-name: slide-down;
  animation-duration: 0.5s;
  top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

@keyframes slide-down {
  from {
    height: 0px;
  }
  to {
    height: 245.5px;
  }
}

.navbar-drop-down button i {
  margin-right: 2px;
}

.navbar-drop-down button {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 25px;
  cursor: pointer;
}

.navbar-drop-down ul {
  list-style: none;
  animation-duration: 0.5s;
  animation-name: fade-in-2;
}

.navbar-drop-down li {
  padding: 7px 0;
}
.navbar-theme--button {
  padding: 7px 0;
}
.navbar-drop-down li:hover,
.navbar-theme--button:hover {
  background-color: #dddddd;
}

.navbar-drop-down a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 40px;
  display: inline-block;
  width: 100%;
}
@keyframes fade-in-2 {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

/* Clase de login/register navbar */
.navbar-div-log-reg {
  display: flex;
  gap: 2px;
  height: 80%;
  min-width: 113px;
}
.navbar-div-log-reg > a {
  color: var(--gris-claro);
  font-size: 0.8rem;
  text-decoration: none;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.navbar-div-log-reg > a:first-child::after {
  content: "";
  width: 1px;
  height: 78%;
  position: absolute;
  right: 2px;
  background-color: var(--gris-claro);
}
.navbar-div-log-reg > a:hover,
.navbar-div-log-reg > a:active {
  color: var(--gris-oscuro);
}
/*Termina clase de login/register navbar*/
@media screen and (max-width: 360px) {
  .search-input::placeholder {
    color: transparent;
  }
}

@media screen and (min-width: 769px) {
  .logo-mobile {
    display: none;
  }

  .logo-desktop {
    display: block;
    cursor: pointer;
  }

  .navbar-user-logo {
    cursor: pointer;
    user-select: none;
    display: flex;
    height: 32px;
    align-items: center;
    width: 78px;
    background-color: #494f51;
    border-radius: 15px;
  }

  .navbar-user-logo > span {
    color: #fff;
    font-size: 12px;
  }

  .search-form {
    margin: 0 40px;
  }

  .profile-btn--container {
    position: relative;
  }

  .profile-card {
    animation-duration: 0.5s;
    animation-name: fade-in-2;
  }
}

@media screen and (max-width: 768px) {
  .navbar-drop-down {
    visibility: hidden;
    position: absolute;
  }
}
