body {
  animation: fade-in 0.7s ease-in;
}

.side-bar {
  height: 100%;
  width: 206px;
  background: white;
  position: fixed;
  right: 0;
  display: none;
  z-index: 1000;
  border-radius: 16px 0px 0px 16px;
  animation-name: slide-in;
  animation-duration: 0.5s;
  top: 0;
}

.side-bar button {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-left: 40px;
}

.side-bar ul {
  list-style: none;
  padding-left: 40px;
}

.side-bar li {
  margin: 5px 0;
}

.side-bar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: black;
}

@keyframes slide-in {
  from {
    transform: translateX(206px);
  }
  to {
    transform: translateY(0);
  }
}

.dark-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  animation-name: fade-in;
  animation-duration: 0.5s;
  top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-card {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-card p {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (min-width: 769px) {
  .side-bar,
  .dark-bg {
    visibility: hidden;
    position: absolute;
  }
}
